@import '../../_variables';

.blade{
    width:100%;
    height:auto;
    background-color:#f9f9f9;
    padding: 40px 100px;
    
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;

    &.orange{
        background-color: $primary_orange;
    }
    
    &.red{
        background-color: $primary_red;
    }

    &.purple{
        background-color: $primary_purple;
    }

    &.green{
        background-color: $primary_green;
    }
    
    &.navygreen{
        background-color: $primary_navy;
    }
    
    &.white{
        background-color: $primary_white;
    }
    
    &.blue{
        background-color: $primary_blue;
    }

    .featured_image{
        width:200px;
        flex:1;
    }

    .content_container{
        padding:40px;
        flex:3;

        h3{
            font-size:20px;
            font-weight:bold;
        }

        h2{
            color:$blade_header_color;
            font-size:40px;
            font-weight:bold;
        }
        
        p{
            color: $blade_content_color;
            font-size:16px;
            font-weight:lighter;
        }
    }
}


.cta_button {
    color:white;
    padding:10px 20px;
    border-radius:20px;

    &.orange{
        background-color: $primary_orange;
        color:white;
    }
    
    &.red{
        background-color: $primary_red;
        color:white;
    }

    &.purple{
        background-color: $primary_purple;
        color:white;
    }

    &.green{
        background-color: $primary_green;
        color:white;
    }
    
    &.navygreen{
        background-color: $primary_navy;
        color:white;
    }
    
    &.white{
        background-color: $primary_white;
        color:black;
    }
    
    &.blue{
        background-color: $primary_blue;
        color:white;
    }
}

.subtitle {
    &.orange{
        color:$primary_orange;
    }
    
    &.red{
        color:$primary_red;
    }

    &.purple{
        color:$primary_purple;
    }

    &.green{
        color: $primary_green;
    }
    
    &.navygreen{
        color:$primary_navy;
    }
    
    &.white{
        color:black;
    }
    
    &.blue{
        color:$primary_blue;
    }
}
