.staff{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    padding:50px 50px;


}

.staff_member_header{
    padding:150px 50px 0px 50px;
    font-size:40px;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}

.staff_member{
    flex:1;
    text-align:center;
    margin:10px;
    padding:30px;

    .staff_member-image{
        background-size:cover;
        background-repeat:no-repeat;
        margin:0px auto;
        width:200px;
        height:200px;
        border-radius:50%;
    }

    h2{
        font-size:20px;
        padding:0px;
        margin:0px;
    }
    
    h3{
        color:$primary_green;
        font-size:15px;
        padding:0px;
        margin:20px 0px 0px 0px;
    }
}