// Break points
$max-width-sm: 767px;
$min-width-sm: 768px;
$min-width-emph: 950px;

$cta_color: #404E9F;

$blade_content_color: white;
$blade_subtitle_color: $cta_color;
$blade_header_color: white;

$primary_green: #4CB647;
$primary_purple: #8267FC;
$primary_red: #ED2126;
$primary_blue: #00ADEF;
$primary_navy: navy;
$primary_orange: #F9A61A;
$primary_yellow: #F9A61A;
$primary_grey: #f1f1f1;
$primary_white: white;